{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Shoco Pie</title>
  <!-- Favicon -->
<link rel="icon" type="image/jpeg" href="{% static 'images/messi.jpeg' %}" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!--slick slider stylesheet -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- slick slider -->

  <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

</head>

<body class="sub_page">

  <div class="main_body_content">

    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'index_page' %}">
              Shoco Pie
            </a>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index_page' %}">Bosh Sahifa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about_page' %}"> Biz Haqimizda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'chocolate_page' %}">Mahsulotlarimiz</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'testimonial_page' %}">Nega aynan biz?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact_page' %}">Aloqa</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                {% comment %} <form class="form-inline">

                  
                  
                </form>
                <a href=""> {% endcomment %}
                  {% comment %} <i class="fa fa-user" aria-hidden="true"></i> {% endcomment %}
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

    <!-- about section -->

    <section class="about_section layout_padding ">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">


              
              <div class="heading_container">
                <h2>
                  Biz Haqimizda
                </h2>
              </div>
              <p>
                15 yillik tajribaga ega bo‘lgan bizning zavodlarimizda har bir Shoco Pie mahsuloti 
                maxsus ehtiyotkorlik va g‘amxo‘rlik bilan tayyorlanadi. Bizning mahsulotlarimiz 
                nafaqat yuqori sifatga ega, balki har bir bo‘lagi bizning qalbimizdan chiqqan kabi. 
                Bizning mehnatimiz va sadoqatimiz orqali biz mijozlarimizga eng yaxshi lazzatni taqdim etamiz.
              </p>
              <p>
                Bizning ishlab chiqarish jarayonimizda har bir detalga e'tibor qaratamiz, chunki biz uchun 
                sifat va mijozlarimizning mamnuniyati har narsadan ustun.
              </p>
              <p>
                Shoco Pie - bu bizning orzularimizni va mehnatimizni yuksaltirishning ramzi. Biz doimo 
                sifatli mahsulotlarni yaratish va mijozlarimizni quvontirishni maqsad qilganmiz.
              </p>
                <img src="{% static 'images/sardor2.jpeg' %}" alt="">
              </a>
            </div>


          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{% static 'images/photo_2025-01-24_22-05-37.jpg' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->


    <!-- info section -->
    <section class="info_section layout_padding2">
      <div class="container">
        <div class="row info_form_social_row">
          <div class="col-md-8 col-lg-9">
            <div class="info_form">


              <form method="POST" action="{% url 'fast_contact_page' %}">
                {% csrf_token %}
                <input type="tel" name="phone_number" placeholder="Telefon raqamingizni kiriting" required
                       style="color: black; background-color: white; border: 1px solid #ccc; padding: 10px; width: 100%;">
                <button type="submit" style="padding: 10px; background-color: #007BFF; color: white; border: none;">
                    Jo'natish
                </button>
            </form>
            
            



            </div>
          </div>
          <div class="col-md-4 col-lg-3">

            



          </div>
        </div>
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <div class="info_links">

              <h4>
                Bo'limlar
              </h4>
              <div class="info_links_menu">
                <a href="{% url 'index_page' %}">
                  Bosh Sahifa
                </a>
                <a href="{% url 'about_page' %}">
                  Biz Haqimizda
                </a>
                <a href="{% url 'chocolate_page' %}">
                  Mahsulotlarimiz
                </a>
                <a href="{% url 'testimonial_page' %}">
                  Nega aynan biz?
                </a>
                <a href="{% url 'contact_page' %}">
                  Aloqa
                </a>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_insta">

              <h4>
                Instagram
              </h4>
              <div class="insta_box">
                <a href="https://www.instagram.com/g.s.g_654" target="_blank">
                  <div class="img-box">
                    <img src="{% static 'images/download.jpeg' %}" alt="">
                  </div>
                </a>
                <p>
                  Bizga instagram orqali ham yozing.
                </p>
              </div>
              
              


             
              
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_detail">
              <h4>
                Kompaniya
              </h4>
              <p class="mb-0">
                15 Yillik tajribaga ega bo'lgan kompaniya.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">

            <h4>
              Aloqa
            </h4>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  398-uy, Navbokhchiyon mahallasi, O‘zbekiston ko‘chasi, Samarqand shahri, O‘zbekiston
                </span>
              </a>

              <a href="tel:+998997776029">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +998 99 777 60 29
                </span>
              </a>
              <a href="mailto:davlathabibov27@gmail.com">
                <i class="fa fa-envelope"></i>
                <span>
                  davlathabibov27@gmail.com
                </span>
              </a>

            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- end info_section -->

  </div>

  <!-- footer section -->
  <footer class="container-fluid footer_section">
  <div class="container">
    <div class="col-md-11 col-lg-8 mx-auto text-center">
      <p>
        &copy; <span id="displayYear"></span> Designed by 
        <a href="https://www.instagram.com/farkhodov_o55" target="_blank" style="color: inherit; text-decoration: underline;">
          Parviz_jr
        </a>
      </p>
    </div>
  </div>
</footer>

  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- slick slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>